body {
    margin: 0;
}

.container {
    max-width: 1400px;
    margin: auto;
    margin-top: 40px;
}

.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-remove{
    border: 1px solid red;
    padding: 3px;
    color: red;
    background-color: transparent;
    margin-left: auto;
    border-radius: 5px;
    cursor: pointer;
}

.completedTask {
    text-decoration: line-through;
    color: blue;
}